
  <div [ngClass]="['row border rounded p-1 mb-1']" id="{{taskInTaskComponent.id}}"
       (click)="selectTask()"
       [ngStyle]="{'background-color': isSelected && (taskIdToHilight === taskInTaskComponent.id) ? '#FFAF5E' : '#FFF' }">
    <div class="col-9">
      {{taskInTaskComponent.title}}
    </div>
    <div class="col-3">
      <button class="btn btn-primary btn-sm" (click)="removeTaskObj()">Remove</button>
    </div>
  </div>


