<p>
  My Tasks today
</p>

<ul>
  <li *ngFor="let task of taskList">{{task}}</li>
</ul>

<label for="todoinput">Task: </label>
<input type="text" name="todoinput" id="todoinput" #fromInput>
<button (click)="addTask(fromInput.value); fromInput.value=''">Add</button>
