body {
    display: flex;
    justify-content: center;
}

.form-group {
    width: 800px;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 70%;
}

.button-container {
    display: flex;
    justify-content: center;
}

.container .key,
.container .value {
    display: flex;
    align-items: center;
    flex: 1 1 50%;
}

.container .value {
    margin: 2px auto;
}

.container .value input,
.container .key input {
    font-size: 1.2em;
}

.button-container .button {
    margin: 5px;
}

.container #pwd-warning {
    color: red;
    font-weight: bold;
}

.red-text {
    color: red;
}
