<h3>ToDo List</h3>

<div class="row border rounded p-2">
  <div *ngFor="let task of taskList" class="col-12">
    <app-task
      [taskInTaskComponent]="task"
      (taskToRemove)="removeTask($event)"

      (taskToShowDetail)="showTaskDetail($event)"
      [isSelected]="shouldHilight"
      [taskIdToHilight]="taskIdToHilight">
    </app-task>
  </div>
</div>


<div class="row border rounded p-2 mt-1 d-flex justify-content-center align-items-center">
  <h5 class="col-12">Add task</h5>

  <div class="form-group col-12">
    <label for="title-input">Name: </label>
    <input class="form-control" id="title-input" type="text" name="title-input" #titleInput>
  </div>

  <div class="form-group col-12">
    <label for="desc-input">Description: </label>
    <input class="form-control" id="desc-input" type="text" name="desc-input" #descInput>
  </div>

  <button class="btn btn-primary" style="width: 70%;" (click)="addTask(titleInput.value, descInput.value); titleInput.value=''; descInput.value=''">Add</button>
</div>


<div *ngIf="selectedTaskKeeper !== null" [ngClass]="{'row border rounded p-2 mt-1': selectedTaskKeeper !== null && selectedTaskKeeper.title !== undefined}">
  <div class="col">
    <h5 *ngIf="selectedTaskKeeper.title !== undefined" style="display: inline;">Task: </h5><b>{{selectedTaskKeeper.title}}</b>
    <br>
    <h5 *ngIf="selectedTaskKeeper.description !== undefined" style="display: inline;">Description: </h5>{{selectedTaskKeeper.description}}
  </div>
</div>

