doctype html
html(lang="en")
  head
    title= "Contact Me"
    style
      include style.css

  body
    div.container
      nav.menu
        ul
          li
            a(href='./index.html') About Me |&nbsp;
          li
            a(href='./skill.html') Skill |&nbsp;
          li
            a(href='./contactme.html') Contact Me |&nbsp;
          li
            a(href='./portfolio.html') Portfolio

      div.portfolio-header
        div.page-title-container
          h1.page-title Contact Me

      div.portfolio-detail
        ul.address
          li Phone: +66-0123456789
          li Email: myemail@xmail.com
          li Line ID: mylineid
          li Address: 123 This Street, Bkk, 10100
