doctype html
html(lang="en")
    head
        title="About Me"
        style
            include style.css
    body
        div.container
            nav.menu
                ul
                    li
                        a(href='./index.html') About Me |&nbsp;
                    li
                        a(href='./skill.html') Skill |&nbsp;
                    li
                        a(href='./contactme.html') Contact Me |&nbsp;
                    li
                        a(href='./portfolio.html') Portfolio

            div.portfolio-header
                div.page-title-container
                    h1.page-title About Me
                div.profile-image

            div.portfolio-detail
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, aspernatur consectetur deleniti
                    exercitationem incidunt labore magni mollitia nobis officiis quae quaerat recusandae sint sit tenetur
                    vel velit veniam voluptates voluptatum!
