mixin showDetail()
  div.content-container
    each _ in [1, 2]
      div.content-item
        div.content-image
        div.content-detail
          ul
            each val in [1, 2, 3]
              li= "List-" + val


doctype html
html(lang="en")
  head
  title= "Contact Me"
  style
    include style.css
  - url = '//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
  link(href=url, rel="stylesheet", type="text/css")

  body
    div.container
      nav.menu
        ul
          li
            a(href='./index.html') About Me |&nbsp;
          li
            a(href='./skill.html') Skill |&nbsp;
          li
            a(href='./contactme.html') Contact Me |&nbsp;
          li
            a(href='./portfolio.html') Portfolio

      div.search-container
        div.portfolio-title
          div.portfolio-image
          div.portfolio-name
            span My Application
        div.search-group
          div(class="search-group-inner right-addon")
            input(class="search-input-box", placeholder="Search Product")
            i(class="glyphicon glyphicon-search")
            button.search-button Search
        div.new-product
          div
            a(href="#") New Product

      each _ in [1, 2, 3]
        +showDetail()


