doctype html
html(lang="en")
    head
        title=Skill
        style
            include style.css

    body
        div.container
            nav.menu
                ul
                    li
                        a(href='./index.html') About Me |&nbsp;
                    li
                        a(href='./skill.html') Skill |&nbsp;
                    li
                        a(href='./contactme.html') Contact Me |&nbsp;
                    li
                        a(href='./portfolio.html') Portfolio

            div.portfolio-header
                div.page-title-container
                    h1.page-title Skills

            div.portfolio-detail
                ul
                    each val in [1, 2, 3]
                        li= 'Skill-' + val
