* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*small screen*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    flex: 1 1 100%;
    height: auto;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.column img {
    margin: 5px 0;
    max-width: 360px;
}

/*medium screen*/
@media (min-width: 768px) {
    .container {
        flex: 1 1 50%;
    }
}

/*large screen*/
@media (min-width: 960px) {
    .container {
        flex: 1 1 33%;
    }
}
