.button-100-px {
    width: 100px;
}

.remove-sign {
    top: 0;
    left: 0;
    font-size: 30px;
    color: darkgrey;
    padding: 0;
    margin: -10px;
}

.margin-1-rem {
    margin: 1rem;
}

.padding-1-rem {
    padding: 1rem;
}

.upload-image-icon {
    font-size: 3em;
    color: darkgray;
    margin: 0 auto;
}

.upload-text {
    text-align: center;
    position: relative;
    top: 10px;
    font-size: 1.5em;
}

.box-100-percent {
    height: 100%;
    margin: 5px;
}

.image-border {
    border: 1px dashed darkgray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.text-align-center {
    text-align: center;
}



/* Font size */
.mobile-only {
    font-size: 20px;
}

.margin-top-10-px {
    margin-top: 10px;
}

@media (min-width: 992px) {
    .pc-only {
        font-size: 40px;
    }

    .margin-top-10-px {
        margin-top: 0;
    }

}
