<!--<p>-->
  <!--lab4-component works!-->
<!--</p>-->

<!--<div *ngFor="let item of numberArray">-->
  <!--<p [className]="item % 2 === 0? 'number-even' : 'number-odd'">-->
    <!--{{item}}-->
  <!--</p>-->
<!--</div>-->

<div [ngClass]="{'my-css-class': isTrue}">
  If isTrue === true, font color will be GREEN, otherwise is BLUE
</div>
