body {
    display: flex;
    justify-content: center;
}

.container {
    width: 800px;
}

.menu {
    margin: 10px 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
}

.portfolio-header .page-title-container {
    display: flex;
    justify-content: center;
}

.portfolio-header .profile-image {
    background-image: url("https://picsum.photos/300/300");
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.portfolio-detail {
    text-indent: 30px;
}

.portfolio-detail .address {
    list-style: none;
}

.container .search-container {
    display: flex;
    justify-content: flex-start;
    border: 1px solid gray;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin: 10px 0;
}

.container .search-container .portfolio-title {
    flex: 1 1 30%;
    /*background-color: blue;*/
    /*height: 100px;*/

    display: flex;
    justify-content: flex-start;
    padding: 5px 10px;
}

.container .search-container .portfolio-title .portfolio-image {
    background-image: url("https://picsum.photos/60");
    flex: 1 1 50px;
    width: 50px;
    height: 50px;
}

.container .search-container .portfolio-title .portfolio-name {
    flex: 1 1 70%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container .search-container .portfolio-title .portfolio-name span {
    padding-left: 10px;
}

.container .search-container .search-group {
    flex: 1 1 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container .search-container .search-group .search-group-inner .search-input-box {
    font-size: 1em;
    width: 70%;
    color: dimgray;
}

.container .search-container .search-group .search-group-inner {
    position: relative;
}

.right-addon .glyphicon {
    right: 80px;
    top: 5px;
}

.right-addon input {
    padding-right: 30px;
}

.container .search-container .search-group .search-group-inner .glyphicon {
    position: absolute;
    /*padding: -10px;*/
    pointer-events: none;
}

.container .search-container .search-group .search-button {
    margin: 0 5px;
}

.container .search-container .new-product {
    flex: 1 1 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    justify-content: flex-start;
}

.content-item {
    flex: 1 1 50%;
    padding: 10px 30px 10px 0;

    display: flex;
    justify-content: flex-start;
}

.content-image {
    background-image: url("https://picsum.photos/200/300/?random");
    width: 200px;
    height: 200px;
}

.content-detail {
    flex: 1 1 50%;
}
